<div class="history-page">
  <h1 class="page-title">
    History of Calculation
  </h1>
  <p class="page-description">
    This describes all your calculation on this application.
  </p>
  <div class="data-section">
    <table role="grid">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Date</th>
          <th>Fields</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="sn"></td>
          <td class="date"></td>
          <td class="field"></td>
          <td class="result"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
